.login {
    width: 360px;
  }

  .terminal-selector {
      width: 60vw;
  }

  .page {
    padding: 8% 0 0;
    margin: auto;
  }

  .form,
  .terminal {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 10px 10px 0 0 rgba(65, 0, 125, 1);
  }

  .form input,
  .form button {
    font-family: "Open Sans", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
  }

  .form input {
    background: #f2f2f2;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    text-transform: uppercase;
    background: #5500AA;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #3F017C;
  }

  .form .otp-form img {
      margin-bottom: 15px;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }

  body {
    background: #5500AA; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #5500AA, #3F017C);
    background: -moz-linear-gradient(right, #5500AA, #3F017C);
    background: -o-linear-gradient(right, #5500AA, #3F017C);
    background: linear-gradient(to left, #5500AA, #3F017C);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
